* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.fundo {
    background-color: rgb(240, 248, 255);
}

.topo {
    width: 100%;
}

.menu{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    gap: 1%;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.menu h1{
    padding-left: 5%;
}